{% extends 'app_mobile/admin_base.html' %}
{% block body_block %}

<section id="listings" class="py-4">
  <div class="container">
    <div class="row">
      {% if page_obj %}
         {% for mobile in page_obj %}
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                     <div class="col-md-4">
                       <img src="{{mobile.image}}" alt="..." width="150">
                     </div>
                        <div class="col-md-8">
                             <div class="card-body">
                                   <h4 class="card-title">{{mobile.brand_name}}</h4>
                                   <h5 class="card-title">{{mobile.model_name}}</h5>
                                   <p class="card-text">{{mobile.specifications}}</p>
                                   <p class="card-text">Rs{{mobile.price}}</p>
                                   <a href="{% url 'edit' mobile.id %}" class="btn btn-outline-primary">EDIT</a>
                                   <a href="{% url 'delete' mobile.id %}" class="btn btn-outline-primary">DELETE</a>

                             </div>
                         </div>
                     </div>
              </div>
      {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No Mobiles is Available </p>
        </div>
      {% endif %}
    </div>
      <div class="row">
        <div class="col-md-12">
          {% if page_obj.has_other_pages %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
             <li class="page-item">
               <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
               </a>
             </li>
            {% else %}
            <li class="page-item disabled">
              <a href="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
             <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>

            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
             <li class="page-item">
               <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;
               </a>
             </li>
            {% else %}
            <li class="page-item disabled">
              <a href="page-link">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>

    </div>
  </section>
{% endblock %}