{% extends 'app_mobile/base.html' %}
{% block body_block %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Apply">
</form>
{% for product in products %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image}}" alt="..." width="150">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h4 class="card-title">{{product.brand_name}}</h4>
        <h5 class="card-title">{{product.model_name}}</h5>
        <p class="card-text">{{product.specifications}}</p>
        <p class="card-text">Rs{{product.price}}</p>
           <a href="{% url 'order' product.id %}" class="btn btn-outline-primary">Place Order</a>

      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}